body {
  padding: 50px;
  font-size: 30px;
  font-family: 'Times New Roman';
}

a {
  color: #00B7FF;
}

#heading {
  color:red;
  background-color: yellow;
}

#app {
  background-color: aqua;
}

#realbutton {
  width: 20px;
  height: 20px;
  font-size: 6px;
}

#dogImage {
  align-items: right;
}